{% include "layouts/header.html" %}
{% extends "layout.html" %}
{% block content %}
<body>

{% include "layouts/navigation.html" %}


<section class="position-relative py-5 py-lg-5" style="background-image:url(static/assets/images/bg/08.jpg); background-position: center left; background-size: cover;">
	<!-- Background dark overlay -->
	<div class="bg-overlay bg-dark opacity-8"></div>
	<div class="container z-index-9 position-relative">
		<div class="row py-sm-4">
			<!-- Title -->
			<div class="col-xl-7 m-auto text-center">

				<br>
				<h1 class="display-6 text-white mb-0">RAG Hack 2024</h1>
					<h6 class="text-white fw-normal mb-3"></h6>

			</div>
		</div> <!-- Row END -->
	</div>
</section>

<!-- =======================
Listing START -->
<section class="pt-0 pt-sm-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4 mb-sm-5">
			<div class="col-12 text-center">
				<br>

				<h3 class="mb-0">AI Analytics</h3><br>
				<p class="mb-0">Chat GPT vs Azure RAG</p>
			</div>
		</div>

		<div class="row g-4">
			<!-- Card item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card shadow h-100">
					<div class="position-relative">
						<!-- Image -->
						<img src="{{url_for('static', filename='assets/images/chat_gpt.jpg')}}" class="card-img-top" alt="Card image">
						<!-- Overlay -->
						<div class="card-img-overlay p-3 z-index-1">
							<div class="badge text-bg-success">Live</div>
						</div>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<!-- Title -->
						<h5 class="card-title me-2"><a href="{{ url_for('core.gpt_more') }}">Chat GPT</a></h5>

						<p class="mb-0"><span class="text-success">See</span> result with Langchain</p>
					</div>
					<!-- Card body END -->


				</div>
			</div>

			<!-- Card item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card shadow h-100">
					<div class="position-relative">
						<!-- Image -->
						<img src="{{url_for('static', filename='assets/images/other_graph.jpg')}}" class="card-img-top" alt="Card image">
						<!-- Overlay -->
						<div class="card-img-overlay p-3 z-index-1">
							<div class="badge text-bg-success">Live</div>
						</div>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<!-- Title -->
						<h5 class="card-title me-2"><a href="{{ url_for('core.redirect_to_dashapp') }}">Azure AI</a></h5>

						<p class="mb-0"><span class="text-success">See</span> improvement with Azure RAG</p>
					</div>
					<!-- Card body END -->


				</div>
			</div>
		</div>
	</div>
</section>



<!-- D3 example -->

{% block styles %}
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script>
<script defer type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

<!--
<center>
    <h1>API Runners</h1>

<div id="my_dataviz"></div>
<center>

-->


<!-- Back to top -->
<div class="back-top"></div>



</body>
</html>

{% endblock %}

