{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script>
<script defer type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<header>
    <h1>D3 from the DB</h1>
    <h2 id="users">Users: </h2>
</header>
<div class="slide">
    <div id="vis1" class="vis"></div>
    <!--div id="vis2" class="vis"></div>
    <div id="vis3" class="vis"></div-->
</div>
{% endblock %}