<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">


        <!-- Main navbar END -->
        <!-- Profile and Notification START -->

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('graph.redirect_to_dashgraph') }}"><i class="bi bi-heart fa-fw me-2"></i>Input Filter</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('graph.redirect_to_dashboth') }}"><i class="bi bi-gear fa-fw me-2"></i>Touch Filter</a></li>
            </ul>
        </div>

    </div>
</nav>
